.checkAccountBox
{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(0, 0, 0, 0.75);
    top: 285px;
    left: 700px;
}

.welcomeUserText
{
    position: absolute;

    color: white;
    font-size: 30px;
}

.deleteAccountButton
{
    position: relative;
    width: 100px;
    height: 25px;
    top: 800px;
    left: 905px;
    color: white;
    background-color: orange;
}

.logoutAccountButton
{
    position: relative;
    width: 100px;
    height: 25px;
    top: 765px;
    left: 800px;
    color: white;
    background-color: orange;
}