.welcomeBox
{
    position: relative;
    
    width: 1800px;
    height: 400px;
    top: 25px;
    left: 30px;
    
    background: rgba(0, 0, 0, 0.50);
}

.welcomeText1
{
    position: absolute;

    top: 15px;
    left: 300px;

    color: white;

    font-size: 35px;
}

.welcomeText2
{
    position: absolute;

    top: 50px;
    left: 600px;

    color: white;

    font-size: 35px;
}

.photoBox
{
    position: relative;

    width: 1800px;
    height: 450px;

    top: 50px;
    left: 30px;

    background: rgb(0, 0, 0, 0.50);

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.photo 
{
    position: relative;

    width: 500px;
    height: 250px;

    
    left: 20px;

    padding: 40px;


}