.photo
{
    position: relative;

    width: 550px;
    height: 325px;
    
    padding: 10px;
}

.scrollContainer
{
    position: relative;

    width: 1800px;
    height: 900px;
    top: 10px;
    left: 45px;

    overflow-y: scroll;
    scroll-behavior: smooth;
}