.portfolioPhoto
{
    position: relative;

    top: 25px;
    left: 25px;

    width: 100%;
    max-width: 250px;
    min-width: 150px;


    height: 100%;
    max-height: 285px;
    min-height: 175px;
}

.portfolioPhotoPanel
{
    position: absolute;

    top: 10px;
    left: 10px;

    width: 100%;
    max-width: 280px;
    min-width: 180px;


    height: 100%;
    max-height: 830px;
    min-height: none;

    background-color: rgba(0, 0, 0, 0.75);
}

.photoDetails
{
    position: absolute;

    top: 295px;
    left: 25px;

    width: auto;
    height: auto;

    color: white;

    font-size: 20px;
}

.musicianBox
{
    position: relative;
    
    top: -245px;
    left: 300px;

    width: 100%;
    max-width: 1525px;
    min-width: 1225px;

    height: 175px;
    max-height: 175px;
    min-height: none;

    background-color: rgba(0, 0, 0, 0.75);
}

.musicianText
{
    position: absolute;

    top: -25px;
    left: 10px;

    color: white;
    font-size: 25px;
}

.musicBoxText
{
    position: absolute;

    top: -60px;
    left: 875px;

    color: white;
    font-size: 50px;
}

.programmerBoxText
{
    position: absolute;

    top: 165px;
    left: 875px;

    color: white;
    font-size: 50px;
}

.programmerBox
{
    position: relative;
    
    top: -185px;
    left: 300px;

    width: 100%;
    max-width: 1525px;
    min-width: 1225px;

    height: 175px;
    max-height: 175px;
    min-height: none;

    background-color: rgba(0, 0, 0, 0.75);
}

.programmerText
{
    position: absolute;

    top: -25px;
    left: 10px;

    color: white;
    font-size: 25px;
}

.photographerBoxText
{
    position: absolute;

    top: 400px;
    left: 875px;

    color: white;
    font-size: 50px;
}

.photographerBox
{
    position: relative;
    
    top: -125px;
    left: 300px;

    width: 100%;
    max-width: 1525px;
    min-width: 1225px;

    height: 175px;
    max-height: 175px;
    min-height: none;

    background-color: rgba(0, 0, 0, 0.75);
}

.photographerText
{
    position: absolute;

    top: -25px;
    left: 10px;

    color: white;
    font-size: 25px;
}