.portfolioPhoto
{
    position: relative;

    top: 10px;
    left: 15px;

    width: auto;
    max-width: 175px;
    min-width: 150px;

    height: auto;
    max-height: 150px;
    min-height: 125px;
}

.portfolioPhotoPanel
{
    position: absolute;

    top: 10px;
    left: 10px;

    width: auto;
    max-width: 280px;
    min-width: 180px;

    height: auto;
    max-height: 830px;
    min-height: 775px;

    background-color: rgba(0, 0, 0, 0.75);
}

.portfolioPhotoDetails
{
    position: absolute;

    top: auto;
    left: 15px;

    color: white;

    font-size: auto;
}

.musicianText, .programmerText, .photographerText
{
    position: absolute;

    top: -10px;
    left: 10px;

    color: white;
    font-size: auto;
}

.musicianBox
{
    position: relative;
    
    top: 45px;
    left: 225px;

    width: auto;
    max-width: 1525px;
    min-width: 400px;

    height: auto;
    max-height: 175px;
    min-height: 150px;

    background-color: rgba(0, 0, 0, 0.75);
}

.musicBoxText
{
    position: absolute;

    top: -60px;
    left: 230px;

    color: white;
    font-size: 50px;
}

.programmerBox
{
    position: relative;
    
    top: 100px;
    left: 225px;

    width: auto;
    max-width: 1525px;
    min-width: 400px;

    height: auto;
    max-height: 175px;
    min-height: 150px;

    background-color: rgba(0, 0, 0, 0.75);
}

.programmerBoxText
{
    position: absolute;

    top: 150px;
    left: 230px;

    color: white;
    font-size: 50px;
}

.photographerBox
{
    position: relative;
    
    top: 150px;
    left: 225px;

    width: auto;
    max-width: 1525px;
    min-width: 400px;

    height: auto;
    max-height: 175px;
    min-height: 150px;

    background-color: rgba(0, 0, 0, 0.75);
}

.photographerBoxText
{
    position: absolute;

    top: 350px;
    left: 230px;

    color: white;
    font-size: 50px;
}