.userField, .passField, .registerButton
{
    position: relative;
    top: 400px;
    left: 850px;
    width: 200px;
}

.registerButton:hover
{
    transition-duration: 0.1s;

    background-color: rgb(35, 35, 35);
}

.registerText
{
    color: white;
    font-size: xx-large;
    position: relative;
    top: 220px;
    left: 895px;
}

.registerButton
{
    position: relative;
    width: 208px;
    border: 1px;
    color: white;
    background-color: orangered;
}

.loginText
{
    position: relative;
    color: white;
    font-size: 20px;
    top: 300px;
    left: 850px;

}