.homeButton,.podcastButton,.accountButton
{
    width: 150px;
    height: 25px;
    background-color: #d19f72;
    position: relative;
}

.homeButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.podcastButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.accountButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.header
{
    width: auto;
    height: 35px;
    background-color: rgb(34, 34, 34,);
    position: relative;
}

.home
{
    width: 1920px;
    height: 1000px;
    background-image: url("/Background.jpg");
    position: relative;
    top: 10px;
    left: 25px;
}

.homeText
{
    color: white;
    font-size: xx-large;
    font-style: italic;
    position: absolute;
    left: 5px;
    top: -30px;
}

.podcast
{
    width: 1920px;
    height: 1000px;
    background-image: url("/Background.jpg");
    position: relative;
    top: 10px;
    left: 25px;
}

.podcastText
{
    color: white;
    font-size: xx-large;
    font-style: italic;
    position: absolute;
    left: 5px;
    top: -30px;
}

.account
{
    width: 1920px;
    height: 1000px;
    background-image: url("/Background.jpg");
    position: relative;
    top: 10px;
    left: 25px;
}

.accountText
{
    color: white;
    font-size: xx-large;
    font-style: italic;
    position: absolute;
    left: 5px;
    top: -30px;
}