.homeButton,.podcastButton,.accountButton
{
    width: 150px;
    height: 25px;
    background-color: #d19f72;
    position: relative;
}

.homeButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.podcastButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.accountButton
{
    top: 5px;
    bottom: 0px;
    right: 0px;
    left: 1400px;
}

.background
{
    width: 1920px;
    height: 1080px;
    background-color: #252522;
    position: relative;
}

.header
{
    width: 1920px;
    height: 35px;
    background-color: rgb(34, 34, 34);
    position: relative;
}

.headerText
{
    
    color: white;
    font-size: xx-large;
    font-style: italic;
    position: absolute;
    left: 5px;
    top: -30px;
}

.home
{
    background-color: rgb(34, 34, 34);
    width: 1850px;
    height: 1025px;
    position: relative;
    top: 10px;
    left: 25px;
}