.background
{
    position: absolute;

    width: 100%;
    max-width: 1920px;
    min-width: 475px;

    height: 100%;
    max-height: 950px;
    min-height: 875px;

    background-image: url("Settings/Background.jpg");
}

.contentBoxBackground
{
    position: relative;

    width: 100%;
    max-width: 1865px;
    min-width: 430px;

    height: 100%;
    max-height: 865px;
    min-height: 430px;

    top: 10px;
    left: 10px;

    background-color: rgb(34,34,34, 0.50);
}

.header
{
    position: relative;

    width: 100%;
    max-width: 1920px;
    min-width: 475px;

    height: 100%;
    max-height: 35px;
    min-height: none;

    background-color: rgb(35, 35, 35, 0.75);
}


.headerButton
{
    color: white;
    background-color: orangered;

    position: relative;

    width: 120px;
    height: 30px;

    border: 10px;

    top: 3px;
    left: 1385px;
}

.headerButton:hover
{
    transition-duration: 0.1s;

    background-color: rgb(35, 35, 35);
}

.headerText
{
    position: absolute;
    
    color: white;

    font-size: 35px;

    left: 10px;
    top: -35px;
}