.headerButton
{
    color: white;
    background-color: orangered;

    position: relative;

    width: 120px;
    height: 30px;

    border: 1px;

    top: 3px;
    left: 73%;
}

.headerButton:hover
{
    transition-duration: 0.1s;

    background-color: black;
}

.headerText
{
    color: white;
    font-size: xx-large;
    position: absolute;
    
    left: 5px;
    top: -35px;
}

.header
{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: rgb(34, 34, 34, 0.90);
}

.background
{
    position: relative;
    width: 100%;
    height: 975px;
    background-image: url("Settings/Background.jpg");
}

.contentBoxBackground
{
    background-color: rgb(34,34,34, 0.50);
    position: relative;
    width: 99%;
    height: 915px;
    top: 10px;
    left: 10px;
}