.headerButton
{
    color: white;
    background-color: rgb(128, 63, 42);
    position: relative;
    width: 150px;
    height: 30px;
    border: 1px;

    top: 3px;
    left: 1265px;
}

.headerText
{
    color: white;
    font-size: xx-large;
    position: absolute;
    
    left: 5px;
    top: -35px;
}

.header
{
    position: relative;
    width: auto;
    height: 35px;
    background-color: rgb(34, 34, 34, 0.90);
}

.background
{
    position: relative;
    width: auto;
    height: 975px;
    background-image: url("Settings/Background.jpg");
}

.contentBoxBackground
{
    background-color: rgb(34,34,34, 0.80);
    position: relative;
    width: 1800px;
    height: 875px;
    top: 30px;
    left: 45px;
}