.lightningButton
{
    position: relative;

    top: 300px;
    left: 750px;

    width: 300px;
    height: 300px;

    padding: 30px;

    font-size: 35px;
    color: white;

    background-image: url("/Photos/Buttons/LightningButtonPage.jpg");
}